<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.tintegro.sigs.mapper.CategoriaMapper">

	<resultMap type="pe.com.tintegro.sigs.entidad.Categoria" id="comboTypeResultMap">
		<result property="idCategoria" column="id" />
		<result property="nombreCategoria" column="descripcion" />
	</resultMap>

	<select id="obtenerCategorias" resultMap="comboTypeResultMap">
		SELECT * from "Main".fn_mw_select_tb_categoria_producto();
	</select>

</mapper>