<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="pe.com.tintegro.sigs.mapper.DonadosMapper">

	
	<resultMap type="pe.com.tintegro.sigs.entidad.Donados" id="donadosResultMap">
		<result property="idDonados" column="id_donados" />
		<result property="nombres" column="nombres" />
		<result property="apellidos" column="apellidos" />
		<result property="telefono" column="telefono" />
		<result property="dni" column="dni" />
		<result property="direccion" column="direccion" />
		<result property="latitud" column="latitud" />
		<result property="longitud" column="longitud" />
		<result property="habilitado" column="habilitado" />
	</resultMap>

	<select id="obtenerDonados" resultMap="donadosResultMap">
		SELECT * from "Dona2".fn_mw_select_tb_donados();
	</select>

</mapper>

