<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="pe.com.tintegro.sigs.mapper.OrdenMapper">
 
	<resultMap type="pe.com.tintegro.sigs.entidad.general.Confirmacion" id="confirmacionResultMap">
		<result property="id" column="id_result" />
		<result property="mensaje" column="no_respuesta" />
	</resultMap>	
	
	<select id="insertOrden" resultMap="confirmacionResultMap">
		select * from "Main".fn_mw_insert_orden_producto(#{jsonOrden});
	</select>
	
	<resultMap type="pe.com.tintegro.sigs.entidad.Orden" id="ordenPorNDResultMap">
		<result property="idOrden" column="id_orden"/>
		<result property="fechaRegistro" column="fecha_registro"/>
		<result property="fechaPedido" column="fecha_pedido"/>
		<result property="precioOrden" column="precio_orden"/>
		<association property="direccion" javaType="pe.com.tintegro.sigs.entidad.Direccion">
			<result property="idDireccion" column="id_direccion"/>
			<result property="nombreDireccion" column="nombre_direccion"/>
		</association>
		<association property="persona" javaType="pe.com.tintegro.sigs.entidad.Persona">
			<result property="idPersona" column="id_cliente"/>
			<result property="numeroDocumento" column="numero_documento"/>
		</association>
		<association property="estadoOrden" javaType="pe.com.tintegro.sigs.entidad.EstadoOrden">
			<result property="idEstado" column="id_estado_orden"/>
			<result property="descripcionEstado" column="descripcion_estado"/>
		</association>
		<collection property="ordenProducto" ofType="pe.com.tintegro.sigs.entidad.OrdenProducto">
			<id property="idOrdenProducto" column="id_orden_producto" />
			
			<result property="idOrdenProducto" column="id_orden_producto"/>
			<result property="cantidad" column="cantidad"/>
			<association property="producto" javaType="pe.com.tintegro.sigs.entidad.Producto">
				<result property="idProducto" column="id_producto"/>
				<result property="nombreProducto" column="nombre_producto"/>
				<result property="nombreMedicamento" column="nombre_medicamento"/>
				<result property="precioProducto" column="precio_producto"/>
				<result property="descripcionProducto" column="descripcion_producto"/>
				<result property="flagOTC" column="flag_otc"/>
				<result property="flagGenerico" column="flag_generico"/>
				<result property="flagEstado" column="flag_estado"/>
				<result property="cantidadStock" column="cantidad_stock"/>
				<result property="marca" column="marca"/>
				<result property="imagenProducto" column="imagen_producto"/>
				<association property="categoria" javaType="pe.com.tintegro.sigs.entidad.Categoria">
					<result property="idCategoria" column="id_categoria"/>
					<result property="nombreCategoria" column="nombre_categoria"/>
				</association>
				<association property="tipoRecipiente" javaType="pe.com.tintegro.sigs.entidad.TipoRecipiente">
					<result property="idTipoRecipiente" column="id_tipo_recipiente"/>
					<result property="nombreRecipiente" column="nombre_recipiente"/>
				</association>
			</association>	
		</collection>


	</resultMap>
	
	<select id="obtenerOrdenes" resultMap="ordenPorNDResultMap">
		select * from "Main".fn_mw_select_tb_ordenes_por_numero_documento(#{numeroDocumento});
	</select>
	
		<select id="obtenerOrdenesAdministrativo" resultMap="ordenPorNDResultMap">
		select * from "Main".fn_mw_select_tb_ordenes_por_estado_orden(#{idEstado});
	</select>
	
 </mapper> 