<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="pe.com.tintegro.sigs.mapper.PersonaMapper">
 
	<resultMap type="pe.com.tintegro.sigs.entidad.general.Confirmacion" id="confirmacionResultMap">
		<result property="id" column="id_result" />
		<result property="mensaje" column="no_respuesta" />
	</resultMap>
	
	<resultMap type="pe.com.tintegro.sigs.dto.response.InicioSesionResponse" id="confirmacionNDResultMap">
		<result property="numeroDocumento" column="numero_documento"/>
		<association property="confirmacion" javaType="pe.com.tintegro.sigs.entidad.general.Confirmacion">
			<result property="id" column="id_result" />
			<result property="mensaje" column="mensaje" />
		</association>

	</resultMap>
	
	<resultMap type="pe.com.tintegro.sigs.entidad.Persona" id="personaPorNDResultMap">
		<result property="idPersona" column="id_persona"/>
		<result property="nombres" column="nombres"/>
		<result property="apellidoPaterno" column="apellido_paterno"/>
		<result property="apellidoMaterno" column="apellido_materno"/>
		<result property="email" column="email"/>
		<result property="celular" column="celular"/>
		<result property="fechaNacimiento" column="fechanacimiento"/>
		<result property="numeroDocumento" column="numero_documento"/>
		<result property="contrasena" column="contrasena"/>
		<association property="tipoDocumento" javaType="pe.com.tintegro.sigs.entidad.TipoDocumento">
			<result property="idTipoDocumento" column="id_tipo_documento"/>
			<result property="nombreTipoDocumento" column="nombre_tipo_documento"/>
		</association>
		<association property="tipoPersona" javaType="pe.com.tintegro.sigs.entidad.TipoPersona">
			<result property="idTipoPersona" column="id_tipo_persona"/>
			<result property="descripcionTipoPersona" column="descripcion_tipo_persona"/>
		</association>
	</resultMap>	
	
	<select id="insertPersona" resultMap="confirmacionResultMap">
		select * from "Main".fn_mw_insert_persona(#{jsonPersona});
	</select>
	
	<select id="inicioSesion" resultMap="confirmacionNDResultMap">
		select * from "Main".fn_mw_inicio_sesion(#{jsonPersona});
	</select>
	
	<select id="updatePersona" resultMap="confirmacionResultMap">
		select * from "Main".fn_mw_update_persona(#{jsonPersona});
	</select>
	
	<select id="obtenerPersona" resultMap="personaPorNDResultMap">
		select * from "Main".fn_mw_select_tb_persona_por_numero_documento(#{numeroDocumento});
	</select>
	
 </mapper> 